language: node_js

node_js:
  - "8"

cache:
  directories:
    "node_modules"

before_install:
  - npm install

before_script:
  - npm run build

after_success:
  - npm run test

on:
  branch: master
